# Dependencies
node_modules/
my-blog-apk/node_modules/

# Gradle and Android build artifacts
.gradle/
**/android/.gradle/
**/android/build/
**/android/app/build/
**/android/.idea/
**/android/*.iml
**/android/local.properties
**/android/captures/
**/android/.cxx/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
